<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN/UP</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class', // Enable dark mode
        };
    </script>
    <style>
        /* These transitions provide a smooth change for background colors on theme switch */
        html.dark body {
            transition: background-color 0.3s ease;
        }
        body {
            transition: background-color 0.3s ease;
        }
    </style>
</head>
<body class="bg-gray-100 dark:bg-gray-900 min-h-screen flex items-center justify-center font-sans antialiased">
    
    {%block body %}
    {%endblock%}

</body>
</html>